.container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    background-color: transparent;
    min-height: 100vh; /* Make sure the page covers the full height */
  }
  
  .list {
    width: 100%;
    max-width: 720px;
    padding: 16px;
    border-radius: 8px; /* Slight rounding of corners around the list */
  }
  
  .listItem {
    padding: 16px;
  }
  