/* FormControl.module.css */
.formControl {
  position: relative;
  margin: 20px 0 40px;
  width: 190px;
}

.input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px #fff solid;
  display: block;
  width: 100%;
  padding: 15px 0;
  font-size: 18px;
  color: black; /* Default text color for light mode */
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {
  .input {
    color: white; /* Text color in dark mode */
  }
}

.input:focus,
.input:valid {
  outline: 0;
  border-bottom-color: blue;
}

.label {
  position: absolute;
  top: 15px;
  left: 0;
  pointer-events: none;
}

.labelSpan {
  display: inline-block;
  font-size: 18px;
  min-width: 5px;
  color: blue;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.input:focus + .label .labelSpan,
.input:valid + .label .labelSpan {
  color: black;
  transform: translateY(-30px);
}
