.sendBox {
    display: flex;
    align-items: center;
    padding: 8px;
    background: white;
    border-top: 1px solid #ddd;
  }
  
  .iconButton {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    padding: 5px;
    margin-right: 8px;
    color: #555;
  }
  
  .input {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 16px;
    font-size: 14px;
  }
  
  .sendButton {
    background: none;
    color: black;
    border: none;
    padding: 8px 12px;
    border-radius: 16px;
    font-size: 20px;
    cursor: pointer;
    margin-left: 8px;
  }
  